body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111827;
    display: flex;
    justify-content: center;
    padding: 20px;
    opacity: 1;
}

.container {
    width: 100%;
    padding: 20px;
}

#stocks {
    // this is the div containing all the stocks
    max-width: 500px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.stock {
    // single stock row
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 15px;
    background: #1f2937;
    color: white;
}

.stock.up {
    &.up {
        background: rgba(34, 197, 94, 0.1);
    }
}

.stock.down {
    background: rgba(239, 68, 68, 0.1);
}

.ticker {
    font-size: 18px;
    font-weight: bold;
}

.price {
    font-size: 22px;
    font-weight: bold;
}

.change {
    font-size: 14px;
}

.change.up {
    color: #4ade80;
}

// ------------------------
// General attributes
// ------------------------
.text-white {
    color: white;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.position-relative {
    position: relative;
}

.hidden {
    display: none !important;
}

// ------------------------
// Options styling
// ------------------------
.options {
    margin-top: -10px;
    margin-bottom: 16px;
    padding-left: 10px;
}

.option {
    display: flex;
    position: relative;
    justify-content: space-between;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 8px;
    margin-top: 4px;
    background: #111827;

    .delete-btn {
        position: absolute;
        right: 6px;
        top: 3px;
        background: transparent;
        border: none;
        color: #9ca3af;
        font-size: 14px;
        cursor: pointer;
    }

    .delete-btn:hover {
        color: #f87171;
    }

    .meta {
        font-size: 12px;
        opacity: 0.8;
        padding-right: 20px;
    }

    &.safe {
        color: #4ade80;
    }

    &.danger {
        color: #f87171;
    }
}

.expiry {
    opacity: 0.6;
    font-size: 12px;
    margin-left: 6px;
}


// ------------------------
// Options form styling
// ------------------------
.toggle-btn {
    width: 100%;
    max-width: 500px;
    margin: 60px auto 10px;
    display: block;
    padding: 12px;
    border-radius: 10px;
    background: #1f2937;
    color: white;
    border: none;
    font-size: 16px;
}

.option-form {
    max-width: 500px;
    margin: 0 auto 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option-form input,
.option-form select {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #111827;
    color: white;
    border: 1px solid #374151;
}

.option-form button {
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #4ade80;
    color: black;
    font-weight: bold;
}

.action-buttons {
    max-width: 500px;
    margin: 20px auto 25px;
    display: flex;
    gap: 10px;

    button {
        flex: 1;
    }
}

// ------------------------
// Import export area
// ------------------------
.import-export {
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    textarea {
        width: 100%;
        box-sizing: border-box;
        min-height: 80px;
        padding: 10px;
        padding-right: 40px; // space for button
        border-radius: 8px;
        background: #111827;
        color: white;
        border: none;
        font-size: 12px;
        border: 1px solid #374151;
    }

    button {
        padding: 10px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        background: #4ade80;
        color: black;
    }

    #copyBtn {
        position: absolute;
        right: 8px;
        top: 8px;

        background: #374151;
        color: white;
        border: none;
        border-radius: 6px;
        padding: 4px 6px;
        font-size: 12px;
        cursor: pointer;
    }

    .import-title {
        padding-top: 20px;
    }
}

// ------------------------
// Footer Status bar
// ------------------------
.status-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    padding: 8px 0;

    background: #1f2937;
    color: #9ca3af;
    font-size: 12px;

    border-top: 1px solid #374151;

    .status {
        &.live {
            color: #4ade80;
        }

        &.cache {
            color: #fbbf24;
        }

        &.error {
            color: #f87171;
        }
    }

    .date {
        opacity: 0.7;
    }

    .separator {
        padding: 0 4px;
    }
}